<!DOCTYPE html>
<html>
{% load staticfiles %}
<link href="{%static "css/adstyle.css" %}" rel="stylesheet" type="text/css" />
<link href="{%static "css/userstyle.css" %}" rel="stylesheet" type="text/css" />
<link href="{%static "css/code/prism.css" %}" rel="stylesheet" type="text/css" />
<script src="{%static "js/code/prism.js" %}"></script>
{% include "header.html" %}
{% include 'menu.html' %}
<body>
<div class="home">
    <div class="home_right">
        <div class="homepage">
            <div class="ptbt"><a>资产管理</a></div>
            <div class="pagename"><a>自动添加主机</a></div>
            <div class="dangqianweizhi"><a>首页 > 资产管理 > 自动添加主机</a></div>
        </div>
        <div class="user_list">
            <div class="user_list_ls">
                <div class="panel panel-default" style="width:34.5%;float: left;height:648px;margin-right: 0.5%;">
                    <div class="panel-heading">
                        自动部署salt-minion
                    </div>
                    <div class="panel-body form-group" style="margin-bottom:0;">
                        <form method="post" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">IP：</label>
                                <div class="col-sm-2" style="width:60%;">
                                    {{ form.add_ip }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Username：</label>
                                <div class="col-sm-2" style="width:60%;">
                                    {{ form.add_username }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Password：</label>
                                <div class="col-sm-2" style="width:60%;">
                                    {{ form.add_password }}
                                </div>
                            </div>
                                <div class="col-sm-1 col-sm-offset-2"  style="margin-left:0">
                                    <button type="submit" class="btn btn-default" id="search_btn">添加</button>
                                </div>
                        </form>
                    </div>
                </div>
                <div style="width: 65%;background-color: #FFFFFF;height: 648px;float: left;margin: 0">
                    <pre class="language-Makefile" style="width: 100%; height: 648px; padding: 10px; text-align: left; font-size: 15px;margin: 0">
                        <code class="language-Makefile">{{ result }}</code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>